@using NamR.Shared.Models; 

@typeparam TListModel

@if (HasItems())
{
    <div class="NameList">
        @if (Items.Any(i => i.IsGirl == !IsGirl) && Title != null)
        {
            <h2 class="NameList-title">@Title</h2>
        }
        <ul>
            @foreach (var item in Items.Where(i => i.IsGirl == IsGirl))
            {
                <li class="@ItemClass">
                    @if (GetListIcon != null)
                    {
                        <span class="NameList-icon">@GetListIcon(item)</span>
                    }                    
                    @item.Name
                    @if(RemoveOnClick != null)
                    {
                        <button aria-label="Fjern" class="NameList-RemoveButton" @onclick="@(async () => await RemoveOnClick(item))"/>                        
                    }
                </li>
            }
        </ul>
    </div>
}
